body {
    font-family: "Helvetica", "Arial", sans-serif;
}

li {
    color: darkgray;
}

.tanques {
    color: red;
}

#vi {
    font-size: large;
}

.tanques:hover {
    font-size: large;
    color: black;
}