header {
    font-family: sans-serif;
    text-align: center;
}
main {
    font-family: "Helvetica";
}
footer {
    font-family: "Arial";
}
h2 {
    text-align: center;
}
#imagenPresentacion {
    border: 2px solid #000;
    border-radius: 8px;
    margin: 10px 0;
}
.enlace {
    color: #be12b6;
    font-weight: bold;
}
.enlace:hover {
    font-size: large;
    color: grey;
}